body {
	font-family: arial;
	font-size: 15.5px;
	overflow-x: hidden;
}
#background-container {
	background-image: url('background.jpg');
	background-position: center 0;
	background-attachment: fixed;
	background-size: 100% auto;
	height: 35vh;
	max-height: 600px;
}
#container {
	background: #fff;
	min-height: 600px;
}
.container {
	max-width: 1000px;
}
#title {
	margin: -38px 0 -6px;
	padding: 0 15px;
	color: #fff;
	font-size: 34px;
	white-space: nowrap;
}
nav.navbar {
	padding: 16px 0 0;
	margin-bottom: -10px;
	font-size: 20px;
}
nav.navbar .nav-link {
	margin-right: 32px;
}
.content-section {
	margin-top: 30px;
	margin-bottom: 30px;
}
#about p:first-child {
	margin-top: 8px;
}
ul.conditions {
	font-size: 14px;
}
#location {
	font-size: 14px;
}
#map {
	width: 100%;
	height: 600px;
	max-height: 60vh;
}


@media (min-width: 576px) {
	#title {
		font-size: 48px;
		margin-top: -54px;
	}
}
@media (min-width: 768px) {
	#background-container {
		height: 60vh;
	}
	#title {
		margin-top: -82px;
		font-size: 72px;
	}
	#map {
		max-height: 85vh;
	}
}