body {
	background-image: url('background.jpg');
	background-position: 0 65%;
	background-attachment: fixed;
	background-size: 100%;
	font-family: arial;
	font-size: 15.5px;
}
#container {
	margin-top: 600px;
	background: #fff;
	min-height: 600px;
}
.container {
	max-width: 1000px;
}
#title {
	margin-top: -90px;
	padding: 0 15px;
	color: #fff;
	font-size: 80px;
}
nav.navbar {
	padding-top: 16px;
	padding-bottom: 0;
	font-size: 20px;
}
nav.navbar .nav-link {
	margin-right: 32px;
}
.content-section {
	margin-top: 30px;
	margin-bottom: 30px;
}
#about p:first-child {
	margin-top: 8px;
}
ul.conditions {
	font-size: 14px;
}
#location {
	font-size: 14px;
}
#map {
	width: 100%;
	height: 600px;
	max-height: 85vh;
}